body {
  margin: 0;
  overflow: hidden;
  font-family: arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.app {
  display: -webkit-flex;
  display: flex;
  height: 100vh;
}

.viewPort {
  flex: 1;
  -webkit-flex: 1;
  height: 100vh;
}

.toolBox {
  width: 100px;

  > ul {
    padding: 10px;
    margin: 0;

    li {
      list-style: none;
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 80px;
      background: #ddd;
    }

    li:last-child {
      margin-bottom: 0;
    }

    li.selected {
      background: #777;
    }
  }
}

.codeEditor {
  position: fixed;
  left: 40px;
  top: 40px;
  right: 140px;
  bottom: 40px;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: min-content;

  .tabs {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 40px;
    min-height: 40px;

    .tab {
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: rgba(255,255,255,0.5);
      color: #000;
      border-radius: 4px 4px 0 0;
      margin-right: 8px;

      a {
        cursor: pointer;
        display: block;
      }
    }
  }

  .codeView {
    background: rgba(127, 127, 127, 0.5);
    -webkit-flex: 1;
    flex: 1;
    padding: 20px;
    line-height: 30px;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 20px;
    word-wrap: break-word;

    &.console {
      display: -webkit-flex;
      display: flex;

      ul {
        margin: 0;
        list-style: none;
        padding: 0;
        overflow: scroll;
        -webkit-flex: 1;
        flex: 1;

        li {
          white-space: pre;

          &.intro { color: #ffff00; }
          &.command { color: #aaaaaa; }
          &.answer { color: #ffffff; }
        }
      }
    }

    &.script {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;

      h3 {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding: 0;
      }

      textarea {
        -webkit-flex: 1;
        flex: 1;
        resize: none;
      }

      .buttons {
        display: -webkit-flex;
        display: flex;
        padding: 4px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4px;

        button {
          -webkit-flex: 1;
          flex: 1;
          height: 40px;
          background: rgba(255, 255, 255, 0.5);
          color: #fff;
          border: none;
          font-size: 20px;
          cursor: pointer;
          border-radius: 4px;
          margin: 4px;
        }
      }
    }

    textarea {
      border: none;
      overflow: auto;
      outline: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: transparent;
      color: #fff;
      font-family: Consolas, Menlo, Monaco, monospace;
      font-size: 20px;
      line-height: 30px;
      padding: 0;
      width: 100%;
    }
  }

  button {
    height: 40px;
  }
}

.scriptPicker {
  position: fixed;
  left: 20%;
  top: 60px;
  right: 20%;
  bottom: 60px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  color: #000;

  ul {
    margin: 0;
    list-style: none;
    padding: 20px;

    li {
      line-height: 30px;
      font-family: Consolas, Menlo, Monaco, monospace;
      font-size: 20px;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        background: rgba(255,255,255,0.5);
      }
    }
  }
}
