body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
}

.viewPort {
  flex: 1;
  height: 100vh;
}

.toolBox {
  width: 100px;

  li.selected {
    background: #777;
  }
}
